
body{
    
    margin: 0px;
    padding: 0px;
  

 


}
html{
    scroll-behavior: smooth; 
    overflow:hidden;

  
    
}
.Inicio{
    width: 100%;
    height: 50px;
    
    position: absolute;
}

.contenedorGrid{
    
    z-index: 1;
    
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
 
   
}
.g1{
    padding: 7vw;
    background-color: rgb(29, 28, 28);
    height: 4500px;
}
.g2{
    
    background-color: rgba(17, 17, 17, 0.993);
}
.p{
color:blue;
}
.nombre{
    text-align: center;
    font-size: 50px;
    color:#ad8c30;
    font-family: 'Acme', sans-serif;
    margin-top: 15vh;
}
.contenedorNombre{

 
    display:flex;
    flex-direction: column;
    position:absolute;
    margin:auto;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    align-self: center;
 
}
.logoProgra{
margin-left: 27%;

}
.barra{
    background-color: white;
    width: 140px;
    height: 10px;
    margin-top: 20px;
    
}
.puesto{
    font-family: 'Acme', sans-serif;
    color:white;
    font-size: 20px;
    margin-top: 20px;
   
}

.circulo{
    position: fixed;
    transition: all 1s;
    margin-top: 70vh;
    margin-left: 80vw;
    z-index: 100;
    background:white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px #ad8c30 solid;
}
.triangulo {
    width: 0; 
    height: 0; 
   
    margin-left: 22%;
    margin-top: 24%;
    transform: rotate(90deg);
    border-left: 40px solid #ad8c30;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    
}
.circulo:hover{
    transition: all 1s;
    transform: scale(1.2);
    background-color: black;
    cursor: pointer;
}

.circuloUP{
    
    position: fixed;
    transition: all 1s;
    margin-top: 60vh;
    margin-left: 87.5vw;
    z-index: 100;
    background:white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px #ad8c30 solid;
    display: none;
}
.trianguloUP {
    width: 0; 
    height: 0; 
   
    margin-left: 22%;
    margin-top: 13%;
    transform: rotate(270deg);
    border-left: 40px solid #ad8c30;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    display: none;
    
}
.circuloUP:hover{
    transform: none;
    transition: all 1s;
    transform: scale(1.2);
    background-color: black;
    cursor: pointer;
}
.barrasAbrirLateral{
    color:white;
    font-size: 50px;
   
}
.ok{
    width: 47vw;
    
   position:absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    

  
}
.logoIzq1{
    animation:  barraIzq1;
    animation-duration: 2s;
    position: absolute;
    border-radius: 10px;
    width: 115px;
height: 20px;
background-color: #ad8c30;
transform: rotate(135deg);
}
.logoIzq2{
    animation:  barraIzq2;
    animation-duration: 2s;
    position: absolute;
    margin-top: 70px;
    width: 115px;
height: 20px;
background-color: #ad8c30;
transform: rotate(45deg);
border-radius: 10px;
}
.barraInclinadaLogo{
    transition: all 2s;
    position: absolute;
   margin-top: 4vh;
    margin-left: 60px;
    width: 170px;
height: 20px;
background-color: #ad8c30;
transform: rotate(105deg);
border-radius: 10px;
}
.logoDer1{
    animation-name:barraDer1;
    animation-duration: 2s;
    margin-left: 170px;
    position: absolute;
    margin-top: 75px;
    width: 115px;
height: 20px;
background-color: #ad8c30;
transform: rotate(135deg);
border-radius: 10px;


}
.logoDer2{
    animation-name:barraDer2;
    animation-duration: 2s;
    
    margin-left: 170px;
    position: absolute;
    border-radius: 10px;
    width: 115px;
height: 20px;
background-color: #ad8c30;
transform: rotate(50deg);
}
.todo{
    display: flex;
    flex-direction: column;
    align-items:center;
}


.flexLogo{
    align-self: flex-start;
    width: 63%;
    height: 100px;
   
    display: flex;
   align-items: center;
   flex-direction: column;
   
}

.cardAbout{
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
    margin-top: 105vh;
    padding: 2vw;
    padding-top: 10vw;
 
}
.aboutTitulo{
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
color: white;

}
.aboutBody{
    margin-top: 10%;
    font-size: 15px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: white;
}
.bodyB{
    margin-left: 3vw ;
    width: 70%;
    display: flex;
    flex-direction: column;

}
.sobreMiTitulo{
    font-size: 5vw;
    color:#ad8c30;
    font-family: 'Acme', sans-serif;
}
.barraSobreMi{
    margin-top: 5%;
    width: 200px;
    height: 8px;
    background-color: azure;
}
.containerBtnAbout{
    margin-top: 5%;
}
.btnContacto{
   
    width: 150px;
    height: 40px;
    background-color: #ad8c30;
    color: black;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border: 2px black solid;
    padding: 5px 10px;
    text-decoration: none;

}
.btnContacto:hover{
    cursor: pointer;
    box-shadow: orange 2px 4px 25px;
}
.btnContacto:hover + .feliz{
    display: block;
    color: orange;
    margin-left: 5vw;
    display: block;
    margin-top: 1vh;
}

.feliz{
    display: none;
    font-size: 30px;
    
    position: absolute;
    margin-left: 5vw;
   
}
.flexFoto{
    
    
    display: flex;
    justify-content: flex-end;
}
.marcoMiFoto{
   
 margin-top: 30px;
 margin-left: -40px;
    z-index: 2;
    width: 200px;
    height: 240px;
    border:10px #ad8c30 solid ;
    position: absolute;
}

.miFoto{
    
    transition: all 3s;
    z-index: 5;
    margin-right: 100px;
   position:relative;
    border:10px rgba(17, 17, 17, 0.993) solid;
    
   
}

.gridIzqAbout{
   
    padding: 2vw;
}
.contenedorContactar{
    
    width: 100%;
    
display: flex;
justify-content: flex-end;

}

.conWhats{
    font-size: 50px;
    color: #00BB2D;
    transition: all 1s;

}
.conWhats:hover{
    transform: scale(1.5);
    cursor: pointer;
    transition: all 1s;
}
.containerTecnologias{
   
    
    padding-right: 5vw;
 width: 88.5vw;
    
    margin-top: 300vh;
    position: absolute;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding-top: 20vh;

}
.logoTec{
    margin-top: 5vh;
   border-image: round;
    width: 110px;
    height: 130px;
    transition: all 1s;
    
    filter: grayscale(50%);
    
}
.logoPhp{
    width: 190px;
}
.logoBd{
    
    width: 190px;
}

.logoSharp{
width: 120px;
}
.logoSharp:hover{
    cursor: pointer;
}

.circularLogo{
    width: 130px;
    margin-left: -10px;
}
.java{
    height: 140px;
    width: 150px;
}

.subir:hover{
    cursor: pointer;
    transform: scale(1.5);
    transition: all 1s;
    filter: grayscale(0%);
  
}
.flexTitTecno{
    width: 100%;
    
    font-size: 5vw;
    color:#ad8c30;
    font-family: 'Acme', sans-serif;
    display: flex;
    position: absolute;
    justify-content: center;
}
.logoBoostrap{
    width: 140px;
    margin-left: -10px;
}

.chat{
    width: 100%;
    padding-top:18vh ;
    margin-top: 200vh;
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;

}
.cardChat{
     
   width: 100%;
    display: grid;
    grid-template-columns:30% 40% 30%;



}
.chatBody{
   
   padding: 15px;
    border: 2px white solid;
    box-shadow: gray 2px 4px 15px;
  
   
}
.preguntas{
    padding: 20px;
}
.preguntaChat{
    margin-top: 20px;
    text-align: center;
    border: 2px #ad8c30 solid;
    border-radius: 7px;
    padding: 4px;
    color: white;
    background-color: rgba(17, 17, 17, 0.993);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: none;
}
.preguntaChat:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.preguntaChat:hover label{
    transform: scale(1.1);
    cursor: pointer;
}

.conoceMas{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.titConoceMas{
    font-size: 5vw;
    color:#ad8c30;
    font-family: 'Acme', sans-serif;
    text-align: center;


}
.barraConoceMas{
    width: 100%;
    height: 7px;
    background-color: white;
}
.imgRobot{
    align-self: center;
}
.preguntaChatD{
   
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 5px;
    background-color: orange;
    color: black;
    width: 200px;
  
    display: flex;
    flex-direction: column;
    margin-top:10px;
    font-size: 20px;


}

.flexPreguntaChat{
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    flex-direction: row;
   

}
.seccionRespuestas{
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    height: 100%;
}
.flexRespuestaChat{
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}
.RespuestaChatD{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    background-color:rgb(101, 146, 160);
    color: black;
    width: 200px;
  
    display: flex;
    flex-direction: column;
    margin-top:10px;
    font-size: 20px;
}
.preguntap{
    margin-top: 20px;
    text-align: center;
    border: 2px blue solid;
    border-radius: 7px;
    padding: 4px;
    color: blue;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.imgRobotChat{
    opacity: 10%;
}
.containerProyectos{
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 400vh;
    
}
.proyectosMios{
   
display: flex;
width: 100%;
justify-content: center;
flex-direction: column;

}
.proyectosParticipado{
    display: flex;
width: 100%;
justify-content: center;
flex-direction: column;
}
.titMisProyectos{
    text-align: center;
    font-size: 50px;
    color:#ad8c30;
    font-family: 'Acme', sans-serif;

}
.titProyectosP{
    text-align: center;
    font-size: 50px;
    color:#ad8c30;
    font-family: 'Acme', sans-serif;
}
.afSeguros{
    margin-top: 40px;
    width: 300px;
    height: 250px;
    align-self: center;
    
}
.frameYoutube{
    margin-top: 40px;
    align-self: center;
}

@media only screen and (max-width:500px){
    .circulo{display: none;}
    .circuloUP{display: none;}
    .preguntaChat{display: block;}
    Html{overflow-y: visible;}
    
.cardAbout{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 78%;
   margin-left: 60px;
 
}
.gridIzqAbout{
    margin-top: 100px;
    align-self: center;
    display: flex;
    align-self: center;
   
   
    
}
.gridDerAbout{
    margin-top: 100px;
   
}
.chat{
margin-top: 300vh;
grid-template-columns: 100%;

}
.cardChat{
    grid-template-columns: 100%;
}
.containerTecnologias{
   
    margin-left: 40px;
  width: 78%;
    margin-top: 550vh;
    grid-template-columns: 50% 50%;
    padding-top: 20vh;
    
}
.logoPhp{
    width: 120px;
    height: 80px;
}
.logoBd{
    width: 120px;
    height: 80px;
}

.containerProyectos{
    padding-top: 15vh;
    margin-top: 1000vh;
    grid-template-columns: 100%;
}
.g1{
    height: 1200vh;
}
.frameYoutube{
    width: 300px;
    height: 200px;
}
.flexLogo{
    margin-left: -80px;
}


}
@keyframes blancoNC {
    from {
   filter: grayscale(100%);
    }
  
    to {
        filter: grayscale(0%);
    }
  }

  @keyframes prueba{
    from {
        
        display: none;
margin-top: 400px;
  border:none;

    
    }
  
    to {
        display: block;
    }
    0% {
        opacity: 0;
    }
    15% {
        opacity: .15;
    }
    25% {
        opacity: .35;
    }
    45% {
        opacity: .45
    }
    75% {
        opacity: .70;
    }
  }
  @keyframes mostrarRayaAbout {
      from{
        margin-top: 5%;
        width: 0px;
        
      }
      to{
        margin-top: 5%;
        width: 200px;
     
      }
      0%{
        width: 0px;
      }
      100%{
        width: 200px;
      }
  }

  @keyframes rayaKnowMe{

    0%{
width: 0%;
    }
    100%{
width: 100%;
    }
  }


  @keyframes mostrarPregunta{

    0%{
opacity: 0%;
    }
    100%{
        opacity: 100%;
       
    }
  }

  @keyframes levantarLogo{

0%{
    filter: grayscale(50%);
}
50%{
    filter: grayscale(0%);
    transform: scale(1.5);
}
100%{
    filter: grayscale(50%);
}

  }



  @keyframes bajarShowUP {
    0%{
        opacity: 0%;
        margin-top: 0vh;
        margin-left: 0vw;
    }
    100%{
        margin-top: 60vh;
    margin-left: 87.5vw;
    }
      
  }

  @keyframes bajarShow {
    0%{
        opacity: 0%;
        margin-top: 0vh;
        margin-left: 0vw;
    }
    100%{
        margin-top: 70vh;
    margin-left: 80vw;
    }
      
  }

  @keyframes barraIzq1 {
      
    0%{
        transform: rotate(0deg);
        box-shadow: 2px 4px 15px white;
    }
    100%{
        
        border-radius: 10px;
        width: 115px;
    height: 20px;
    background-color: #ad8c30;
    transform: rotate(135deg);
    }


  }

  @keyframes barraIzq2 {
      
    0%{
        transform: rotate(0deg);
        box-shadow: 2px 4px 15px white;
    }
    100%{
        
        margin-top: 70px;
    width: 115px;
height: 20px;
transform: rotate(45deg);
    }


  }


  @keyframes barraDer1 {
      
    0%{
        transform: rotate(0deg);
        box-shadow: 2px 4px 15px white;
    }
    100%{
        
        margin-left: 170px;
   
    margin-top: 75px;
    

transform: rotate(135deg);
    }


  }


  @keyframes barraDer2 {
      
    0%{
        transform: rotate(0deg);
        box-shadow: 2px 4px 15px white;
    }
    100%{
        
        margin-left: 170px;
    position: absolute;
    border-radius: 10px;
    width: 115px;
height: 20px;
background-color: #ad8c30;
transform: rotate(50deg);
    }


  }


  @keyframes saltar {

    0%{
         


    }
    15%{
        margin-top: -110px;

    }
    25%{
        margin-top: 0px;
    }
    40%{margin-top:-60px}
    60%{
        margin-top: 0px;
    }
    80%{margin-top:-30px}
    100%{

        
    }
      
  }
  

